

/* Navbar */
.backcolor {
    background-color: #1C3458;
}


/* Buttons */
.buttons button  {
    margin-bottom: 5px;
}


/* Footer */
footer {
    height: 40px;
}

footer p {
    line-height: 40px;
}