#btn-dark {
    background-color: yellow;
    color: white;
    padding: 5px 15px;
    border: 2px solid yellow;
    border-radius: 5px;
}

#btn-dark:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.text-center {
    text-align: center;
}

h1 {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.new {
    text-align-last: right;
    text-transform: uppercase;
    word-spacing: 30px;
    letter-spacing: 30px;
}
p{
    text-transform: uppercase;
    text-indent: 100px;
}